<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Foodex{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="charset=UTF-8" />
        <meta name="description" content="recipes"/>
        <meta name="keywords" content="recipes"/>
        <meta name="author" content="pusbroliai aliukai ir sesute">

        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>

        {% block specific_scripts %}
            <script type="text/javascript">
                function loader(){
                }

                function key_check(event){

                }
            </script>
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js" type="text/javascript"></script>
        <![endif]-->

        <!--bootstrap
        <link href="{{ asset('css/3rd.css') }}" rel="stylesheet">
        -->


    </head>
    <body onload="loader()" onkeyup="key_check(event)">
        <div class="transition untouchable" id="toast_wrapper"><div id="toast"></div></div>
        <div id="toast_top" class="untouchable" onclick='to_very_top()'></div>
        <div id="toast_loading" class="untouchable"></div>


        <div class='top_layer_item' id="top_layer">
            <div class='top_layer_item' id="top_box"></div>
        </div>

        <div id="header">
            <div id="header_list" onclick="empty_sidebar_slide()"></div>
            <div id="header_logo" onclick="content_navigation('home')"></div>
        </div>

        <div id="sidebar" class="full">
            <div id="sidebar_slider" onclick="sidebar_slide()"></div>
            <div id="logo_zone" class="untouchable" onclick="content_navigation('home')"></div>
            <div id="nav_zone">
               {% block nav_zone %}
                   <div class="nav_zone_element untouchable" id="home" onclick="content_navigation('home')"></div>
                   <div class="nav_zone_element untouchable" id="profile" onclick="content_navigation('profile')"></div>
                   <div class="nav_zone_element untouchable" id="shoppinglist" onclick="content_navigation('shoppinglist')"></div>
                   <div class="nav_zone_element untouchable" id="random" onclick="content_navigation('random')"></div>
               {% endblock %}
            </div>
            <div id="search_zone" onclick="full_sidebar()">
                {% block search_zone %}
                    <div id='search_index' onclick="focus_input('search_input')" ></div>
                    <input id='search_input' placeholder='Ieškoti' onkeyup="search()" onfocus="search_input_focus()" onblur="search_input_blur()"/>
                    <div id='search_container'></div>
                {% endblock %}
            </div>
            {% block divider %}
                <div id="divider" class="middle_divider" onclick="full_sidebar()"></div>
            {% endblock %}

            <div id='filters_zone' onclick="full_sidebar()">
                {% block filters_zone %}{% endblock %}
            </div>

            <div id='config_zone'>
                {% block config_zone %}{% endblock %}
            </div>
        </div>


        {% block content %}{% endblock %}
        </div>
    </body>
</html>
