<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Bigger Better Dinner{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="charset=UTF-8" />
        <meta name="description" content="recipes"/>
        <meta name="keywords" content="recipes"/>
        <meta name="author" content="pusbroliai aliukai ir sesute">

        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <script src="{{ asset('js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/some_script.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>

        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!--bootstrap
        <link href="{{ asset('css/3rd.css') }}" rel="stylesheet">
        -->


    </head>
    <body>
        <div class="transition untouchable" id="toast_wrapper"><div id="toast"></div></div>
        <div id="toast_top" class="untouchable" onclick='to_very_top()'></div>
        <div id="toast_loading" class="untouchable"></div>

        <div id="sidebar">
            <div id="logo_zone" onclick="refresh()">BBD</div>
            <div id="nav_zone">
               <div class="nav_zone_element nav_element_active untouchable nav_element_active" id="home" onclick="content_navigation('home')"></div>
               <div class="nav_zone_element untouchable" id="profile" onclick="content_navigation('profile')"></div>
               <div class="nav_zone_element untouchable" id="shoppinglist" onclick="content_navigation('shoppinglist')"></div>
               <div class="nav_zone_element untouchable" id="random" onclick="content_navigation('random')"></div>
            </div>
            <div id="search_zone">
                <div id='search_index' onclick="focus_input('search_input')" ></div>
                <input id='search_input' placeholder='Ieškoti' onkeyup="search()"/>
                <div id='search_container' ></div>
            </div>
            <div id='filters_zone'>
                <div class="filter_element untouchable" id="universities-2" onclick="filter_selected(this.id)">
                    <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                    <div class="filter_element_text">VU</div>
                    <div class="filter_element_delete" id="delete_universities-2" onclick="filter_delete(this.id)"></div>
                </div>
                <div class="filter_element untouchable" id="universities-1" onclick="filter_selected(this.id)">
                    <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                    <div class="filter_element_text">VU</div>
                    <div class="filter_element_delete" id="delete_universities-1" onclick="filter_delete(this.id)"></div>
                </div>

            </div>
            <div id='config_zone'>
                <div class='filter_element untouchable' onclick="filter_start()">
                    <div class='filter_element_image' id='add'></div>
                    <div class='filter_element_text'>Pridėti filtrą</div>
                </div>
            </div>
        </div>

        <div id="content_wrapper">
            <div id="content">



            </div>
        </div>
    </body>
</html>
