<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Foodex{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="charset=UTF-8" />
        <meta name="description" content="recipes"/>
        <meta name="keywords" content="recipes"/>
        <meta name="author" content="Kieto Koto Standartas">

        <link href="/css/style.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="/js/script.js" type="text/javascript"></script>

        {% block specific_scripts %}
            <script type="text/javascript">
                function loader(){
                    initialize_scrollbar();
                    hide_loading_screen();
                }

                function key_check(event){}
            </script>
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js" type="text/javascript"></script>
        <![endif]-->

        <!--bootstrap
        <link href="/css/3rd.css" rel="stylesheet">
        -->
    </head>
    <body onload="loader()" onkeyup="key_check(event)">
        <div class="transition untouchable" id="toast_wrapper"><div id="toast"></div></div>
        <div id="toast_top" class="untouchable" onclick='to_very_top()'></div>
        <div id="toast_loading" class="untouchable"></div>

        <div id="loading_screen" class="untouchable">
            <div id="loading_screen_title"></div>
            <div id="loading_screen_circle"></div>
        </div>


        <div class='top_layer_item' id="top_layer">
            <div class='top_layer_item' id="top_box"></div>
        </div>

        <div id="header">
            <div id="header_list" onclick="empty_sidebar_slide()"></div>
            <div id="header_logo" onclick="content_navigation('home')"></div>
        </div>

        <div id="sidebar" class="full">
            <div id="sidebar_slider" onclick="sidebar_slide()"></div>
            <div id="logo_zone" class="untouchable" onclick="content_navigation('home')"></div>
            <div id="nav_zone">
               {% block nav_zone %}
                   <div class="nav_zone_element untouchable" id="home" onclick="content_navigation('home')"></div>
                   <div class="nav_zone_element untouchable" id="profile" onclick="content_navigation('profile')"></div>
                   <div class="nav_zone_element untouchable" id="shoppinglist" onclick="content_navigation('shoppinglist')"></div>
                   <div class="nav_zone_element untouchable" id="random" onclick="content_navigation('random')"></div>
               {% endblock %}
            </div>

            {% block search_zone %}
                <div id="search_zone" onclick="full_sidebar()">
                    <div id='search_index' onclick="focus_input('search_input')" ></div>
                    <input id='search_input' placeholder='Ieškoti' onkeyup="search()" onfocus="search_input_focus()" onblur="search_input_blur()"/>
                    <div id='search_container'>
                        <div class="contains_scrollbar" id='search_container_inside'></div>
                    </div>
                </div>
            {% endblock %}
            {% block divider %}
                <div id="divider" class="middle_divider" onclick="full_sidebar()"></div>
            {% endblock %}

            {% block filters_zone %}
                <div id='filters_zone' class="contains_scrollbar" onclick="full_sidebar()"></div>
            {% endblock %}


            {% block config_zone %}
                <div id='config_zone'></div>
            {% endblock %}
        </div>


        {% block content %}{% endblock %}
        {% block sidebar_right %}
            <div id="sidebar_right" class="right_squeeze" id="sidebar_for_recipe_1">
                <div id="sidebar_right_image" style="background-image:url('{{ asset('images/food (5).jpg') }}')"></div>
                <div id="sidebar_right_title">Kepnys "Omledufe"</div>
                <div id="sidebar_right_info">
                    <div class="sidebar_right_info_item" id="sidebar_right_like" onclick="recipe_like('1')">59</div>
                    <div class="sidebar_right_info_item" id="sidebar_right_time">25 min</div>
                    <div class="sidebar_right_info_item" id="sidebar_right_country">Lenkija</div>
                    <div class="sidebar_right_info_item" id="sidebar_right_main_cooking_method">Virimas</div>
                    <div class="sidebar_right_info_item" id="sidebar_right_type">Antrieji patiekalai</div>
                    <div class="sidebar_right_info_item" id="sidebar_right_characteristics">Aštru, sūru</div>
                </div>
                <div id="sidebar_right_ingredients">
                    <div id="sidebar_right_ingredients_text">Ingredientai</div>
                    <div class="sidebar_right_ingredients_button" id="sidebar_right_ingredients_coop" onclick="coop('1')"></div>
                    <div class="sidebar_right_ingredients_button" id="sidebar_right_ingredients_shoppinglist" onclick="add_to_shopping_list('1')"></div>
                </div>
                <div id="divider" class="ingredients_divider"></div>
                <div id="sidebar_right_ingredients_zone" class="contains_scrollbar">
                    <div class="ingredient untouchable" id="ingredient-2" onclick="ingredient_selected('2')">
                        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                        <div class="ingredient_text">Bananas</div>
                        <div class="ingredient_size">5 vnt</div>
                        <div class="ingredient_indicator ingredient_indicator_have" id="ingredient_indicator-2"></div>
                    </div>
                    <div class="ingredient untouchable" id="ingredient-3" onclick="ingredient_selected('3')">
                        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                        <div class="ingredient_text">Jautiena</div>
                        <div class="ingredient_size">250 g</div>
                        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-3"></div>
                    </div>
                    <div class="ingredient untouchable" id="ingredient-4" onclick="ingredient_selected('4')">
                        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                        <div class="ingredient_text">Cukinija</div>
                        <div class="ingredient_size">500 g</div>
                        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-4"></div>
                    </div>
                    <div class="ingredient untouchable" id="ingredient-5" onclick="ingredient_selected('5')">
                        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                        <div class="ingredient_text">Ananasas</div>
                        <div class="ingredient_size">100 g</div>
                        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-5"></div>
                    </div>
                    <div class="ingredient untouchable" id="ingredient-6" onclick="ingredient_selected('6')">
                        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                        <div class="ingredient_text">Pomidoras</div>
                        <div class="ingredient_size">6 vnt</div>
                        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-6"></div>
                    </div>

                </div>


                <div id="sidebar_right_bottom_zone">
                    <div id="sidebar_right_cook_button" onclick="cook('1')">Gaminti</div>
                </div>

            </div>
        {% endblock %}
        </div>
    </body>
</html>
