{% extends "::base.html.twig" %}


{% block title %}Naujas receptas | Foodex{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        var productsContainer = [];
        $("#addProductToRecipe").on("click", function(e) {
            e.preventDefault();
            var item = $("#recipeProduct").val();
            var quantity = $("#productQuantity").val();
            var itemName = $("#recipeProduct").find(":selected").text();
            productsContainer.push({"item": item, "quantity": quantity});
            $("#recipeProductsContainer").val(JSON.stringify(productsContainer));
            console.log(JSON.stringify(productsContainer), productsContainer, itemName, item, quantity);
            $("#productList").append(quantity + " " + itemName + '<br>');
            $("#productQuantity").val("0");
        })



        function loader(){
            sidebar_manipulation();
            $( window ).resize(function() {
                sidebar_manipulation();
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            hide_loading_screen();
        }

        function key_check(event){}
    </script>
{% endblock %}

{% block header_lock %}{% endblock %}
{% block filters_zone %}{% endblock %}
{% block config_zone %}{% endblock %}
{% block search_zone %}{% endblock %}
{% block divider %}{% endblock %}

{% block content %}
    <div id="content_wrapper" style="padding-bottom:10px;background-image:url('/images/content_background.jpg')">
        <div class="scroller" id="scroller_content_profile" style="width:100%;padding-bottom:10px;">
            <div id="profile_cover" style="background-image:url('/images/food (11).jpg')">
                <div id="profile_name" style="padding-left:20px;">Naujas receptas</div>
            </div>
            <div style="margin: 10px; ">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <div>
                    <label>Sąrašas:</label>
                    <div id="productList"></div>
                </div>
                <div>
                    <input style="margin: 5px" name="quantity" value="0" id="productQuantity">
                    <select id="recipeProduct">
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="addProductToRecipe">+</button>
                </div>
                <input id="recipeProductsContainer" type="hidden" name="products" value="[]">
                {{ form_row(form.properties) }}
                {{ form_row(form.description) }}
                {{ form_row(form.country) }}
                {{ form_row(form.cookingTime) }}
                {{ form_row(form.celebration) }}
                {{ form_row(form.mainCookingMethod) }}
                {{ form_row(form.type) }}
                {{ form_row(form.photo) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
                <hr>
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Pavadinimas</th>
                        <th>Aprašymas</th>
                        <th>Foto</th>
                        <th>Šalis</th>
                        <th>Ypatybė</th>
                    </tr>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.photo }}</td>
                            {% if entity.country %}
                                <td>{{ entity.country.name }}</td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                            {% if entity.properties %}
                                <td>
                                    {% for property in entity.properties %}
                                        {{ property.name }} ,
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table></div>
            <div id="content_new_recipe">









            </div>
        </div>
    </div>
{% endblock %}
