{#{% extends '::base.html.twig' %}#}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var productsContainer = [];
            $("#addProductToRecipe").on("click", function(e) {
                e.preventDefault();
                var item = $("#recipeProduct").val();
                var quantity = $("#productQuantity").val();
                var itemName = $("#recipeProduct").find(":selected").text();
                productsContainer.push({"item": item, "quantity": quantity});
                $("#recipeProductsContainer").val(JSON.stringify(productsContainer));
                console.log(JSON.stringify(productsContainer), productsContainer, itemName, item, quantity);
                $("#productList").append(quantity + " " + itemName + '<br>');
                $("#productQuantity").val("0");
            })
        })
    </script>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <div>
        <label>Sąrašas:</label>
        <div id="productList"></div>
    </div>
    <div>
        <input name="quantity" value="0" id="productQuantity">
        <select id="recipeProduct">
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        <button id="addProductToRecipe">+</button>
    </div>
    <input id="recipeProductsContainer" type="hidden" name="products" value="[]">
    {{ form_row(form.properties) }}
    {{ form_row(form.description) }}
    {{ form_row(form.country) }}
    {{ form_row(form.cookingTime) }}
    {{ form_row(form.celebration) }}
    {{ form_row(form.mainCookingMethod) }}
    {{ form_row(form.type) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
    <hr>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Aprašymas</th>
            <th>Įvertinimas</th>
            <th>Foto</th>
            <th>Laikas</th>
            <th>Šalis</th>
            <th>Ypatybė</th>
        </tr>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.photo }}</td>
                {% if entity.country %}
                    <td>{{ entity.country.name }}</td>
                {% else %}
                        <td> - </td>
                {% endif %}
                {% if entity.properties %}
                    <td>
                        {% for property in entity.properties %}
                            {{ property.name }} ,
                        {% endfor %}
                    </td>
                {% else %}
                    <td> - </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}