{% block content %}
    <h1>Pridėk savo produktą!</h1>
    {{ form(form) }}
    <hr><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Foto</th>
            <th>Kategorija</th>
        </tr>
        {% for entity in entities %}
            <tr>

                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.photo }}</td>
                {% if entity.category %}
                    <td>{{ entity.category.name }}</td>
                {% else %}
                    <td> - </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}