{% extends "::base.html.twig" %}


{% block title %}{{ recipe_ID }} Step {{ step_ID }} | Foodex{% endblock %}
{% block specific_scripts %}
    <script type="text/javascript">
        function key_check(event){}

        function loader(){
            $("#search_zone").css('height','auto');
            $(".top_divider").css('margin-bottom','10px');
            $(".middle_divider").css('margin-left','10px');
            //$("#filters_zone").css('bottom','10px');
            //$("#config_zone").remove();
            $("#search_zone").attr('class', 'cook_ingredients_zone');
            sidebar_manipulation();

            //get steps amount
            steps_amount = 5;

            steps_sidebar_initialize();
            $( window ).resize(function() {
                sidebar_manipulation();
                steps_sidebar_manipulation();
            });

            $("#content_wrapper").scroll(function(){
                var steps_sidebar_height = parseInt(($("#steps_sidebar").css('height').replace('px','')));
                var content_height = parseInt(($("#content_wrapper").css('height').replace('px','')));
                var all = $("#content_wrapper")[0].scrollHeight - content_height;
                var current = $("#content_wrapper").scrollTop();

                var percentage = current / all;
                var pointer_height = steps_sidebar_height * percentage;
                $("#steps_sidebar_pointer").css('height', pointer_height + 'px');
            });
        }




    </script>
{% endblock %}
{% block search_zone %}
    <div id="cook_ingredients">
        <div id="divider" class="top_divider" onclick="full_sidebar()"></div>
        <div class="sidebar_right_info_item" id="sidebar_right_time">25 min</div>
        <div class="sidebar_right_info_item" id="sidebar_right_country">Lenkija</div>
        <div class="sidebar_right_info_item" id="sidebar_right_main_cooking_method">Virimas</div>
        <div class="sidebar_right_info_item" id="sidebar_right_type">Antrieji patiekalai</div>
        <div class="sidebar_right_info_item" id="sidebar_right_characteristics">Aštru, sūru</div>
    </div>

{% endblock %}
{% block filters_zone %}

    <div class="ingredient untouchable" id="ingredient-2" >
        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
        <div class="ingredient_text">Bananas</div>
        <div class="ingredient_size">5 vnt</div>
        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-2"></div>
    </div>
    <div class="ingredient untouchable" id="ingredient-3" >
        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
        <div class="ingredient_text">Jautiena</div>
        <div class="ingredient_size">250 g</div>
        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-3"></div>
    </div>
    <div class="ingredient untouchable" id="ingredient-4" >
        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
        <div class="ingredient_text">Cukinija</div>
        <div class="ingredient_size">500 g</div>
        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-4"></div>
    </div>
    <div class="ingredient untouchable" id="ingredient-5" >
        <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
        <div class="ingredient_text">Ananasas</div>
        <div class="ingredient_size">100 g</div>
        <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-5"></div>
    </div>
{% endblock %}

{% block config_zone %}
    <div id="sidebar_right_cook_button" class="untouchable next_step" onclick="cook_step('{{ recipe_ID }}', '2')">Sekantis</div>
{% endblock %}

{% block content %}
    <div id="content_wrapper" style="background-image:url('/images/food (19).jpg');right:66px;" >
        <div class="step" id="step_1" style="background-image:url('/images/food (19).jpg')"></div>
        <div class="step" id="step_2"></div>
        <div class="step" id="step_3"></div>
        <div class="step" id="step_4"></div>
        <div class="step" id="step_5"></div>
    </div>

    <div id="steps_sidebar"><div id="steps_sidebar_pointer"></div></div>


{% endblock %}