<div id='data_{{ id }}'>
    <div class='input_title'>{{ id }}</div>
    <input type='text' class='new_recipe_input' placeholder='Faktas' value='{{ text }}'/>
    <div class='sub_save' onclick="save_data('{{ id }}')"></div>
    <div class='sub_delete' onclick="delete_data('{{ id }}')"></div>
</div>