<div class='filter_element untouchable filter_element_indicator_{{ indicator }}' id='{{ id }}' onclick='filter_selected(this.id)'>
    <div class='filter_element_image' style="background-image:url('{{ imageUrl }}');"></div>
    <div class='filter_element_text'>{{ title }}</div>
    <div class='filter_element_delete' id='delete_{{ id }}' onclick='filter_delete(this.id)'></div>
    <div class='filter_element_indicator_change' id='indicator_change_{{ id }}' onclick='filter_indicator_change(this.id)'></div>
    <div class='filter_element_indicator_small'></div>
</div>
               