<div class='filter_element untouchable {{ indicator }}' id='{{ id }}' onclick='manipulate_filter(this.id)'>
    <div class='filter_element_image' style="background-image:url('{{ imageUrl }}');"></div>
    <div class='filter_element_text'>{{ title }}</div>
    <div class='filter_element_indicator' id='indicator_{{ id }}'></div>
</div>
                        