<div class='filter_element untouchable' id='{{ id }}' onclick="filters_show('inside_category', '{{ id }}')">
    <div class='filter_element_image' style="background-image:url('{{ imageUrl }}');"></div>
    <div class='filter_element_text'>{{ title }}</div>
    <div class='filter_element_indicator' id='indicator_{{ id }}'></div>
</div>
