<div class='ingredient untouchable' id='{{ id }}' onclick="ingredient_selected('{{ id }}')">
    <div class='ingredient_image' style='background-image:url("{{ imageUrl }}")'></div>
    <div class='ingredient_text'>{{ title }}</div>
    <div class='ingredient_size'>{{ quantity }} {{ unit }}</div>
    <div class='ingredient_indicator ingredient_indicator_{{ indicator }}' id='ingredient_indicator-{{ id }}'></div>
</div>