<div class='s_e search_item untouchable' id='search-{{ id }}'>
    <div class='s_e search_item_image' style="background-image:url('{{ imageUrl }}')"></div>
    <div class='s_e search_item_title'>{{ title }}</div>
    <div class='s_e search_item_bottom_info'>{{ info }}</div>
    <div class='s_e filter_element_indicator indicator_search want' style='right: 25px;' onclick="filter_search_add('search-{{ id }}','want')"></div>
    <div class='s_e filter_element_indicator indicator_search not_want' style='right: 3px;' onclick="filter_search_add('search-{{ id }}','not_want')"></div>
</div>