<div class='s_e search_item untouchable' id='search-{{ id }}' onclick="add_to_shoppinglist('{{ id }}','from_search')">
    <div class='s_e search_item_image' style="background-image:url('{{ imageUrl }}');"></div>
    <div class='s_e search_item_title'>{{ title }}</div>
    <div class='s_e search_item_bottom_info'>{{ category }}</div>
</div>