<div class='s_e search_item untouchable' id='search-{{ brand }}' onclick="select_place('{{ brand }}', true)">
    <div class='s_e search_item_image' style="background-image:url('{{ imageUrl }}')"></div>
    <div class='s_e search_item_title'>{{ title }}</div>
    <div class='s_e search_item_bottom_info'>{{ type }}</div>
</div>