{% block content %}
    <table border="3">
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Tipas</th>
            <th>Ingredientai</th>
        </tr>
        {% for recipe in recipes %}
            <tr>
                <td><a href="{{ path('nfq_akademija_recipes_show', { 'id': recipe.id }) }}">{{ recipe.id }}</td>
                <td>{{ recipe.RecipeName }}</td>
                <td>{{ recipe.RecipeType }}</td>
                <td>{{ recipe.RecipeIngredients }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}