{% extends "::base.html.twig" %}

{% block specific_scripts %}
    <script>
        function key_check(event){}

        function loader(){
            sidebar_manipulation();
            recipe_size = calculate_recipe_size();
            load_products('true', function(){
                hide_loading_screen();
            });

            $( window ).resize(function() {
                sidebar_manipulation();
                recalculate_width();
            });

            if(browser == 'firefox'){
                $("#search_container").css('box-shadow','none');
            }

            scroll_filters = new IScroll('#filters_zone', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
                probeType: 2
            });

            scroll_content.on('scroll', function(){
                if (this.y + 200 >= this.maxScrollY)
                    load_products_more();
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            $("#filters_zone").click(function(){ $("#search_input").blur();});
            $("#content_wrapper").click(function(){ $("#search_input").blur();});
        }
    </script>
{% endblock %}

{% block title %}Pirkiniai | Foodex{% endblock %}

{% block search_zone %}
    <div id="search_zone">
        <div id='search_index' onclick="focus_input('search_input')" ></div>
        <input id='search_input' placeholder='Pridėti prekių' onkeyup="search('shoppinglist')" onfocus="input_focus('shoppinglist')" onblur="input_blur()"/>
        <div id='search_container'>
            <div id='search_container_inside'></div>
        </div>
    </div>
{% endblock %}

 {% block divider %}
     <div id="divider" class="middle_divider" style="margin-left:10px;margin-top:0px;"></div>
 {% endblock %}

{% block filters_zone %}
<div id='filters_zone' style="top:285px;bottom:10px;">
    <div class="scroller" id="scroller_filters">
        {% for shoppinglist_item in shoppinglist_items %}
            <div class='filter_element untouchable' id='shoppinglist_item_{{ shoppinglist_item.id }}' onclick='shoppinglist_item_selected(this.id)'><div class='filter_element_image' style="background-image:url('{{ shoppinglist_item.imageUrl }}');"></div><div class='filter_element_text'>{{ shoppinglist_item.title }}</div><div class='filter_element_delete' id='delete_{{ shoppinglist_item.id }}' onclick="remove_from_shoppinglist('{{ shoppinglist_item.id }}','from_shoppinglist')"></div></div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block config_zone %}{% endblock %}
{% block specific_styles %}
    <style type="text/css">
        #content_wrapper{
            padding-bottom:10px;
        }

        #scroller_content{
            padding-bottom:10px;
        }

    </style>
{% endblock %}

{% block content %}
<div id="content_wrapper">
    <div class="scroller" id="scroller_content"></div>
</div>
{% endblock %}

{% block sidebar_right %}{% endblock %}