{% extends "::base.html.twig" %}


{% block title %}{{ profile_name }} | Foodex{% endblock %}

{% block specific_styles %}
    <style type="text/css">
        #content_wrapper{
            padding-bottom:10px;
        }

        #scroller_content{
            padding-bottom:10px;
            right:31px;
            left:0px;
        }

        #profile_image{
           background-image:url('{{ profile_imageUrl }}');
        }

        #profile_cover{
            background-image:url('{{ profile_coverUrl }}');
        }

        #filters_zone{
            top:285px;
        }
    </style>
{% endblock %}

{% block specific_scripts %}
    <script type="text/javascript">
        function loader(){
            isProfilePage = true;
            sidebar_manipulation();
            recipe_size = calculate_recipe_size();
            $( window ).resize(function() {
                recalculate_width();
                sidebar_manipulation();
            });

            load_profile_recipes('true', 'cooked', function(){
                filters_show('selected_personal','', function(){
                    hide_loading_screen();
                });
            });

            if(browser == 'firefox'){
                $("#search_container").css('box-shadow','none');
            }

            scroll_filters = new IScroll('#filters_zone', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_sidebar_right = new IScroll('#sidebar_right_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true
            });

            scroll_content = new IScroll('#content_wrapper', {
                scrollbars: true,
                mouseWheel: true,
                interactiveScrollbars: true,
                shrinkScrollbars: 'scale',
                fadeScrollbars: true,
                probeType: 2
            });

            scroll_content.on('scrollStart', function(){ clickable = false; });
            scroll_content.on('scrollEnd', function(){ clickable = true; });

            scroll_content.on('scroll', function(){
                if (this.y + 200 >= this.maxScrollY)
                    load_profile_more();
            });

            $("#sidebar_right_wrapper").click(function(){ $("#search_input").blur();});
            $("#filters_zone").click(function(){ $("#search_input").blur();});
            $("#content_wrapper").click(function(){ $("#search_input").blur();});
        }

        function key_check(event){}
    </script>
{% endblock %}

{% block header_lock %}
    <div id="header_options" onclick="logout()"></div>
{% endblock %}

 {% block filters_zone %}
     <div id='filters_zone'>
         <div class="scroller" id="scroller_filters" ></div>
     </div>
 {% endblock %}
 {% block config_zone %}
     <div id='config_zone'></div>
 {% endblock %}

{% block content %}
<div id="content_wrapper">
    <div class="scroller" id="scroller_content">
        <div id="profile_cover">
            <div id="profile_image"></div>
            <div id="profile_name">{{ profile_name }}</div>
        </div>
        <div id="profile_line">
            <div class="profile_line_box transition" id="profile_line_box_cooked" onclick="profile_recipes('true', 'cooked')">
                <div class="profile_line_box_top">{{ amount_cooked }}</div>
                <div class="profile_line_box_bottom">Gaminti</div>
            </div>
            <div class="profile_line_box transition" id="profile_line_box_liked" onclick="profile_recipes('true', 'liked')">
                <div class="profile_line_box_top">{{ amount_liked }}</div>
                <div class="profile_line_box_bottom">Mėgstami</div>
            </div>
            <div class="profile_line_box transition" id="profile_line_box_created" onclick="profile_recipes('true','created')">
                <div class="profile_line_box_top">{{ amount_created }}</div>
                <div class="profile_line_box_bottom">Sukurti</div>
            </div>

            <div class="profile_line_box transition" id="profile_line_box_options" onclick="logout()">Atsijungti</div>
        </div>
        <div id="profile_recipes"></div>
    </div>
</div>
{% endblock %}

