{% extends "::base.html.twig" %}

{% block title %}Išsirink | Foodex{% endblock %}

{% block nav_zone %}
    <div class="nav_zone_element untouchable " id="home" onclick="content_navigation('home')"></div>
    <div class="nav_zone_element untouchable" id="profile" onclick="content_navigation('profile')"></div>
    <div class="nav_zone_element untouchable" id="shoppinglist" onclick="content_navigation('shoppinglist')"></div>
    <div class="nav_zone_element untouchable nav_element_active" id="random" onclick="content_navigation('random')"></div>
{% endblock %}

 {% block filters_zone %}
     <div class="filter_element untouchable" id="universities-2" onclick="filter_selected(this.id)">
         <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
         <div class="filter_element_text">VU</div>
         <div class="filter_element_delete" id="delete_universities-2" onclick="filter_delete(this.id)"></div>
     </div>
     <div class="filter_element untouchable" id="universities-1" onclick="filter_selected(this.id)">
         <div class="filter_element_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
         <div class="filter_element_text">VU</div>
         <div class="filter_element_delete" id="delete_universities-1" onclick="filter_delete(this.id)"></div>
     </div>
 {% endblock %}

{% block config_zone %}
    <div class='filter_element untouchable' onclick="filter_start()">
        <div class='filter_element_image' id='add'></div>
        <div class='filter_element_text'>Pridėti filtrą</div>
    </div>
{% endblock %}

{% block content %}
    <div id="content_wrapper" style="background-image:url('{{ asset('images/food (18).jpg') }}')">
        <div id="random_title">Kepsnys "Omleduste"</div>

        <div id="random_button_zone">
            <div class="random_button" id="random_button_next" onclick="random_next()"></div>
            <div class="random_button" id="random_button_shoppinglist" onclick="add_to_shopping_list('1')"></div>
            <div class="random_button" id="random_button_coop" onclick="coop('1')"></div>
            <div class="random_button" id="random_button_info" style="background-image:url('{{ asset('images/food (18).jpg') }}')" onclick="show_random_recipe_info('1')"></div>
            <div id="sidebar_right_random_cook_button" onclick="cook('1')">Gaminti</div>
        </div>


    <div id="sidebar_right" class="right_squeeze" id="sidebar_for_recipe_1">
        <div id="sidebar_right_ingredients">
            <div id="sidebar_right_ingredients_text">Apie patiekalą</div>
        </div>
        <div id="divider" style="margin-bottom:10px;"></div>

        <div id="sidebar_right_info">
            <div class="sidebar_right_info_item" id="sidebar_right_time">25 min</div>
            <div class="sidebar_right_info_item" id="sidebar_right_country">Lenkija</div>
            <div class="sidebar_right_info_item" id="sidebar_right_main_cooking_method">Virimas</div>
            <div class="sidebar_right_info_item" id="sidebar_right_type">Antrieji patiekalai</div>
            <div class="sidebar_right_info_item" id="sidebar_right_characteristics">Aštru, sūru</div>
        </div>
        <div id="sidebar_right_ingredients">
            <div id="sidebar_right_ingredients_text">Ingredientai</div>
            <div class="sidebar_right_ingredients_button" id="sidebar_right_ingredients_coop" onclick="coop('1')"></div>
            <div class="sidebar_right_ingredients_button" id="sidebar_right_ingredients_shoppinglist" onclick="add_to_shopping_list('1')"></div>
        </div>
        <div id="divider" class="ingredients_divider"></div>
        <div id="sidebar_right_random_ingredients_zone" class="contains_scrollbar">
            <div class="ingredient untouchable" id="ingredient-2" onclick="ingredient_selected('2')">
                <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                <div class="ingredient_text">Bananas</div>
                <div class="ingredient_size">5 vnt</div>
                <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-2"></div>
            </div>
            <div class="ingredient untouchable" id="ingredient-3" onclick="ingredient_selected('3')">
                <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                <div class="ingredient_text">Jautiena</div>
                <div class="ingredient_size">250 g</div>
                <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-3"></div>
            </div>
            <div class="ingredient untouchable" id="ingredient-4" onclick="ingredient_selected('4')">
                <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                <div class="ingredient_text">Cukinija</div>
                <div class="ingredient_size">500 g</div>
                <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-4"></div>
            </div>
            <div class="ingredient untouchable" id="ingredient-5" onclick="ingredient_selected('5')">
                <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                <div class="ingredient_text">Ananasas</div>
                <div class="ingredient_size">100 g</div>
                <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-5"></div>
            </div>
            <div class="ingredient untouchable" id="ingredient-6" onclick="ingredient_selected('6')">
                <div class="ingredient_image" style="background-image:url('{{ asset('images/random.png') }}')"></div>
                <div class="ingredient_text">Pomidoras</div>
                <div class="ingredient_size">6 vnt</div>
                <div class="ingredient_indicator ingredient_indicator_undefined" id="ingredient_indicator-6"></div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}